<div class="title">
    <h3>Administrators</h3>
</div>
<div class="main">
    <div class="administrators">
        <div class="slides" *ngIf="filteredData">
            <div class="prev" *ngIf="isPrev">
                <mat-icon aria-hidden="false" aria-label="Example home icon"  (click)="goPrev()" >navigate_before</mat-icon>
            </div>
            <div class="slide" *ngFor="let administrator of filteredData">
                <div class="image">
                    <img mat-card-avatar height="75px" width="75px"  src={{administrator.image}} alt={{administrator.name}}>
                    <p>{{administrator.name}}</p>
                </div>
            </div>
            <div class="next" *ngIf="isNext" >
                <mat-icon aria-hidden="false" aria-label="Example home icon"  (click)="goNext()" >navigate_next</mat-icon>
            </div>
        </div>
        <div class="notice-me">
                <form [formGroup]="contactForm"  (change)="formChanged()">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Enter Email" value={{emailInput}} formControlName="emailInput" required>
                        <mat-error *ngIf="contactForm.controls.emailInput.hasError('required')">
                        Please enter email
                        </mat-error>
                        <mat-error *ngIf="contactForm.controls.emailInput.hasError('pattern')">
                        Please enter valid email
                        </mat-error>
                    </mat-form-field>
                </form>
                <!-- <input placeholder="Enter email" /> -->
                <button mat-raised-button (click)="invite()">Invite
                    <mat-icon aria-hidden="false" aria-label="Example home icon">navigate_next</mat-icon>
                </button>
        </div>
    </div>
    <div class="contact">
        <p>Contact <br (window:resize)="onResize($event)" *ngIf="isMobil"> Support </p>
        <span><mat-icon aria-hidden="false" aria-label="support">navigate_next</mat-icon>
        </span>
    </div>
</div>
